################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gezdir.Service/Gezdir/node_modules
/Gezdir.Service/Gezdir/.vs/Gezdir/v15
/Gezdir.Service/Gezdir/.vs/config
